<div class="page-header">
	<div class="row">
		<div class="col-md-3 col-sm-12">
         
      <div class="row">
        <div class="col">
            <button type="button" [routerLink]="['/home/CahiersdeChargeList']"
            class=" btn btn-secondary color-white  "><i class="icon-copy fa fa-arrow-left" aria-hidden="true"></i> </button>
    
        </div>
        
        <div class="col">
            <button type="button"  (click)="ajouter()"  
            class=" btn btn-success color-white  "><i class="icon-copy fa fa-plus" aria-hidden="true"></i> </button>
    
        </div>
    </div> 
		</div>
		
	</div>
</div>


<div class="card-box mb-30">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
          <div class="title">
       
          <h4 class="text-blue h4" style="color: #1b00ff;">{{"détails_cahier_charges" | translate}}</h4>
  
        </div>
        </div>
    

    







    
    <div class=" row mb-1 ">

        <label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}} :</label>
        <div class="col-md-4 col-sm-12">
          {{c.cahierChargesLibelle}}
            <!-- {{c.cahierChargesId}} -->
        </div>
        <label class=" col-md-2 col-sm-6  col-form-label">{{"categories" | translate}} : </label>
        <div class="col-md-4 col-sm-12">
            {{c.categoriesprojet.categoriesProjetLibelle}} 
            
        </div>
        
    </div>
    <div class="  row">
        
      <label class="col-md-2 col-sm-6 col-form-label">{{"description" | translate}} :</label>
      <div class="col-md-4 col-sm-12">
          {{c.cahierChargesDescription}}
      </div>

    </div>


    <br />
    

</div>

</div>
<div class="card-box mb-30">
 
    <div class="pd-20 card-box mb-30">
     
      <div class="title">
       
        <h4 class="text-blue h4" style="color: #1b00ff;">{{"liste_cahier_clause" | translate}}</h4>
    
      </div>
        <div class="row justify-content-between">
    
          <div class="container">
            
             
              <div>
                <mat-form-field appearance="fill">
                  <input matInput  placeholder="rechercher" autocomplete="off" (keyup)="filterData($event)">
      
                </mat-form-field>
              </div> 
              <table mat-table matSort [dataSource]="dataSource" [dataSource]="dataSource1" class="mat-elevation-z8">
              
               
                
                <ng-container matColumnDef="cahierClausesAdministrativesId">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> {{"ref" | translate}}. </th>
                  
                   <td mat-cell *matCellDef="let element"> {{element.cahierClausesAdministrativesId}}{{element.cahierClausesFinancieresTechniquesId}} </td> 
                   
                </ng-container>
              
                
                <ng-container matColumnDef="cahierClausesAdministrativesLibelle">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> {{"libelle" | translate}} </th>
                 
                  <!-- <td mat-cell *matCellDef="let element"> {{element.cahierDesClauseFinancierTechnqueLibelle}} </td>  -->
                  <td mat-cell *matCellDef="let element"> {{element.cahierClausesAdministrativesLibelle}} {{element.cahierDesClauseFinancierTechnqueLibelle}}</td> 
                  
                  </ng-container>
      
                <ng-container  matColumnDef="cahierClausesAdministrativeDescription">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>{{"description" | translate}} </th>
                    <!-- <td mat-cell *matCellDef="let element"> {{element.cahierClausesFinancieresTechniquesDescription}} </td>  -->
                    <td mat-cell *matCellDef="let element"> {{element.cahierClausesAdministrativeDescription}}  {{element.cahierClausesFinancieresTechniquesDescription}}</td> 
                  
                  </ng-container>

                <ng-container  matColumnDef="typecahiercharges">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{"type" | translate}} </th>
                     <td mat-cell *matCellDef="let element"> {{element.typecahiercharges.typeCahierChargesLibelle}} </td> 
                     <!-- <td mat-cell *matCellDef="let element"> {{element.typecahiercharges}} </td>  -->
                       </ng-container>
      
                <ng-container  matColumnDef="categoriesprojet">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{"categories" | translate}} </th>
                     <td mat-cell *matCellDef="let element"> {{element.categoriesprojet.categoriesProjetLibelle}} </td> 
                     
                    </ng-container>
        
                
                <ng-container  matColumnDef="Operations">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef> {{"operations" | translate}}  </th>
                  <td mat-cell *matCellDef="let element"> 
                    <button type="button" class="btn btn-info   mr-2"  (click)="checkClause(element)"
                    ><i class="dw dw-eye color-white "></i> </button>
      
                  <button type="button" class="btn btn-warning  mr-2"
                  (click)="checkClause1(element)" ><i
                      class="dw dw-edit2 color-white "></i> </button>

                      <button type="button" class="btn btn-danger " 
                      (click)="deleteee(element)" ><i
                        class="dw dw-delete-3 color-white "></i> </button>
                
                    
                    
                    
                    {{element.Operations}} </td>
                </ng-container>
      
      
      
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      
              </table>
          </div>
            </div>
          
          
    </div>
</div>