<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb" style="background: none;">
					<li class="breadcrumb-item">
						<a [routerLink]="['/home/cahierchargeTypeList']">{{"liste_cahier_charges" | translate}}
						</a>
					</li>
					<li class="breadcrumb-item active" style="color: #1b00ff;" aria-current="page">
						{{"modifier_cahier_chargest" | translate}}
					</li>
				</ol>
			</nav>
		</div>
		
	</div>
</div>
<div class="container">

 
    <br/><br/>



<div class="register-form">
	<!-- <div class="title">
		<h2 class="text-blue h4" style="color: #1b00ff;">{{"ajout_cahier_charges" | translate}}</h2>

	</div> -->
	<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
		<div class=" row">
		
			<label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}} :<span class="text-danger">&nbsp;*</span></label>
			<div class="col-md-4 col-sm-12">
				<input type="text" class="form-control  mb-2" name="cahierChargesLibelle" [(ngModel)]="c.cahierChargesLibelle"
					required #cahierChargesLibelle="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted && cahierChargesLibelle.errors }" />
			
		
			<div *ngIf="f.submitted && cahierChargesLibelle.errors" class="invalid-feedback">
				<div *ngIf="cahierChargesLibelle.errors['required']"> {{"libelle" | translate}} {{"champ_obligatoire" | translate}} </div>
			</div>
		</div>
            
			<label class="col-md-2 col-sm-6 col-form-label">{{"categories" | translate}} :<span class="text-danger">&nbsp;*</span></label>
			<div class="col-md-4 col-sm-12">
				
				<select class="form-control" name="categoriesprojettype" id="categoriesprojettype" 
				#categoriesprojettype="ngModel" [(ngModel)]="c.categoriesprojettype.categoriesProjetId" 
        [ngClass]="{'invalid-textbox' : f.submitted && categoriesprojettype.invalid }" required>
               >
				   <option class="fa" 
                    
                    [selected]="c.categoriesprojettype.categoriesProjetId === fun.categoriesProjetId"
				
                    *ngFor="let fun of fff" [value]="fun.categoriesProjetId">{{fun.categoriesProjetLibelle}}</option>
				
				
				</select>
				
				<br>
				

				<div *ngIf="categoriesprojettype.invalid && f.submitted">
					<span style="color: red;">{{"categories" | translate}} {{"champ_obligatoire" | translate}} </span>
				  </div> 
			<br/>
			<!-- {{c.categoriesprojettype| json}} -->
				
			<!-- {{c.categoriesProjetId | json}} -->
			</div>
		</div>	
		<div class="row">

			<label class="col-md-2 col-sm-6 col-form-label">{{"description" | translate}}  : </label>
			<div class="col-md-4 col-sm-12">
				<textarea type="text" class="form-control  " name="cahierChargesDescription"
					[(ngModel)]="c.cahierChargesDescription" maxlength="1000" #cahierChargesDescription="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted &&  cahierChargesDescription.errors }" ></textarea>
				<div *ngIf="f.submitted &&  cahierChargesDescription.errors" class="invalid-feedback">
					<div *ngIf="cahierChargesDescription.errors['maxlength']">
                        1000 caracteres au maximum
                      </div></div>
			</div>




			
		</div>
		
	
		<br/>
		<div class="form-group row">
			<!-- <button type="button" (click)="onReset(f)" class="btn  btn-secondary color-white offset-6 col-2">
				{{"btn_annulation" | translate}}
			</button> -->
			<button type="button" class="btn  btn-secondary  color-white offset-7 col-2"  [routerLink]="['/home/cahierchargeTypeList']">{{"btn_annulation" | translate}}</button>
	
			<button type="submit" class="btn btn-success color-white    col-2 ml-1 ">{{"btn_modification" | translate}}</button>
			
		</div>
	</form>
  </div>
</div>