<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="title">
				<h4 class="text-blue h4" style="color: #1b00ff;">Modifier Nature Critère</h4>

			</div>
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb" style="background: none;">
					<li class="breadcrumb-item">
						<a [routerLink]="['/home']">Accueil
						</a>
					</li>
					<li class="breadcrumb-item active" style="color: #1b00ff;" aria-current="page">
						Modifier Nature Critère
					</li>
				</ol>
			</nav>
		</div>
		
	</div>
</div>
<div class="container">
    <br/><br/>






<form name="form" #f="ngForm" novalidate>
	<div class=" row">
	
		<label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}}: </label>
		<div class="col-md-4 col-sm-12">
			<input type="text" class="form-control  mb-2" name="natureCritereLibelle" [(ngModel)]="n.natureCritereLibelle"
				required #natureCritereLibelle="ngModel"
				[ngClass]="{ 'is-invalid': f.submitted && natureCritereLibelle.errors }" disabled/>
		
	
		<div *ngIf="f.submitted && natureCritereLibelle.errors" class="invalid-feedback">
			<div *ngIf="natureCritereLibelle.errors['required']"> {{"libelle" | translate}} {{"champ_obligatoire" | translate}}</div>
		</div></div>
		<label class="col-md-2 col-sm-6 col-form-label">{{"libelleAr" | translate}} :</label>
		<div class="col-md-4 col-sm-12">
			<input type="text" class="form-control  mb-2" name=" natureCritereLibelleAr"
				[(ngModel)]="n.natureCritereLibelleAr" required #natureCritereLibelleAr="ngModel"
				[ngClass]="{ 'is-invalid': f.submitted &&  natureCritereLibelleAr.errors }" disabled />
			<div *ngIf="f.submitted &&  natureCritereLibelleAr.errors" class="invalid-feedback">
				<div *ngIf=" natureCritereLibelleAr.errors['required']"> {{"libelleAr" | translate}} {{"champ_obligatoire" | translate}} </div>
			</div>
		</div>
	</div>
	<div class="  row">
		<label class=" col-md-2 col-sm-6 col-form-label">{{"description" | translate}} :  </label>
		<div class="col-md-4 col-sm-12">
		<textarea type="text" class="form-control" name="natureCritereDescription"
			[(ngModel)]="n.natureCritereDescription"  #natureCritereDescription="ngModel"
			[ngClass]="{ 'is-invalid': f.submitted &&  natureCritereDescription.errors }" maxlength="1000" disabled></textarea>
		<div *ngIf="f.submitted &&  natureCritereDescription.errors" class="invalid-feedback">
			
			  <div *ngIf="natureCritereDescription.errors['maxlength']">
				1000 caracteres au maximum
			  </div>
				</div>
		</div>

	
		<label class=" col-md-2 col-sm-6  col-form-label">{{"description Ar" | translate}} : </label>
		<div class="col-md-4 col-sm-12">
		<textarea type="text" class="form-control" name="natureCritereDescriptionAr"
			[(ngModel)]="n.natureCritereDescriptionAr" #natureCritereDescriptionAr="ngModel"
			[ngClass]="{ 'is-invalid': f.submitted &&  natureCritereDescriptionAr.errors }" maxlength="1000" disabled></textarea>
		<div *ngIf="f.submitted &&  natureCritereDescriptionAr.errors" class="invalid-feedback">
			<div *ngIf="natureCritereDescriptionAr.errors['maxlength']">
				1000 caracteres au maximum
			  </div>
			</div>
	</div>
   

	</div>


	<br/>
    <div class="form-group row">
        <button type="button" [routerLink]="['/home/naturecritereList']" class="btn  btn-secondary color-white offset-10 col-2">
            {{"btn_annulation" | translate}}
        </button>
        </div>
</form>
</div>