<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
            <div class="title">
       
                <h4 class="text-blue h4" style="color: #1b00ff;">{{"détails_Nature_Critère" | translate}}</h4>
        
              </div>
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb" style="background: none;">
					<li class="breadcrumb-item">
						<a [routerLink]="['/home']">Accueil
						</a>
					</li>
					<li class="breadcrumb-item active" style="color: #1b00ff;" aria-current="page">
						{{"détails_Nature_Critère" | translate}}
					</li>
				</ol>
			</nav>
		</div>
		
	</div>
</div>


<div class="card-box mb-30">
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h2 class="text-blue" style="color: #1b00ff; ">{{"détails_Nature_Critère" | translate}}</h2>
        
            </div>
         
        </div>
    

    <br/><br/>






<form name="form" #f="ngForm" novalidate>
    
    <div class=" row mb-5 ">

        <label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}}: </label>
        <div class="col-md-4 col-sm-12">
            {{n.natureCritereLibelle}}

        </div>
        <label class="col-md-2 col-sm-6 col-form-label">{{"libelleAr" | translate}} :</label>
        <div class="col-md-4 col-sm-12">
            {{n.natureCritereLibelleAr}}
        </div>
    </div>
    <div class="  row">
        <label class=" col-md-2 col-sm-6 col-form-label">{{"description" | translate}} : </label>
        <div class="col-md-4 col-sm-12">
            {{n.natureCritereDescription}}
        </div>


        <label class=" col-md-2 col-sm-6  col-form-label">{{"description Ar" | translate}} : </label>
        <div class="col-md-4 col-sm-12">
            {{n.natureCritereDescriptionAr}}
        </div>


    </div>


    <br />

</form>
</div>

</div>