<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb" style="background: none;">
					<li class="breadcrumb-item">
						<a [routerLink]="['/home/typecahierchargeList']">{{"consultertypeCh" | translate}}
						</a>
					</li>
					<li class="breadcrumb-item active" style="color: #1b00ff;" aria-current="page">
						{{"modiftype" | translate}}
					</li>
				</ol>
			</nav>
		</div>
		
	</div>
</div>
<div class="container">

 
    <br/><br/>



<div class="register-form">
	<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
		<div class=" row">
		
			<label class="col-md-2 col-sm-6 col-form-label">{{"libelle" | translate}} : <span class="text-danger">&nbsp;*</span></label>
			<div class="col-md-4 col-sm-12">
				<input type="text" class="form-control  mb-2" name="typeCahierChargesLibelle" [(ngModel)]="typecahiercharge.typeCahierChargesLibelle"
					required #typeCahierChargesLibelle="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted && typeCahierChargesLibelle.errors }" />
			
		
			<div *ngIf="f.submitted && typeCahierChargesLibelle.errors" class="invalid-feedback">
				<div *ngIf="typeCahierChargesLibelle.errors['required']"> {{"libelle" | translate}} {{"champ_obligatoire" | translate}} </div>
			</div></div>
            

            
            <label class="col-md-2 col-sm-6 col-form-label">{{"ordre" | translate}} : <span class="text-danger">&nbsp;*</span></label>
			<div class="col-md-4 col-sm-12">
				<input type="number" class="form-control  mb-2" name="ordre" [(ngModel)]="typecahiercharge.ordre"
					required #ordre="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted && ordre.errors }" />
			
		
				<div *ngIf="f.submitted && ordre.errors" class="invalid-feedback">
					<div *ngIf="ordre.errors['required']"> {{"ordre" | translate}} {{"champ_obligatoire" | translate}} </div>
				</div>
			</div>
			
		</div>
        <div class="row">
          
            <label class="col-md-2 col-sm-6 col-form-label">{{"description" | translate}}  : </label>
			<div class="col-md-4 col-sm-12">
				<textarea type="text" class="form-control  " name="typeCahierDesChargesDescription"
					[(ngModel)]="typecahiercharge.typeCahierDesChargesDescription" maxlength="1000" #typeCahierDesChargesDescription="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted &&  typeCahierDesChargesDescription.errors }" ></textarea>
				<div *ngIf="f.submitted &&  typeCahierDesChargesDescription.errors" class="invalid-feedback">
					<div *ngIf="typeCahierDesChargesDescription.errors['maxlength']">
                        1000 caracteres au maximum
                      </div></div>
			</div>
			 
          
			
			<label class="col-md-2 col-sm-6 col-form-label">{{"code" | translate}} : </label>
			<div class="col-md-4 col-sm-12">
				<input type="text" class="form-control  mb-2" name="code" [(ngModel)]="typecahiercharge.typeCahierDesChargesCode" />	
			</div>
        </div>
		<div class="row">
			
		</div>
        <br/>
		<div class="form-group row">
		<!-- 	<button type="button" (click)="onReset(f)" class="btn  btn-secondary color-white offset-6 col-2">
				{{"btn_annulation" | translate}}
			</button> -->
			<button type="button" routerLink="/home/typecahierchargeList" class="btn  btn-secondary color-white offset-6 col-2">
				{{"btn_annulation" | translate}}
			</button>
	
			<button type="submit" class="btn btn-success color-white    col-2 ml-1 ">{{"btn_modification" | translate}}</button>
			
		</div>
	</form>
  </div>
</div>